{% extends "base.html" %}
{% load static %}

{% block contenido %}

    <h3>Página de Inicio Proyecto <b>ruta_compuesta</b> Django</h3>
    <h3>{{contenido_dinamico}}</h3>
    <h3>{{contenido_dinamico2}}</h3>
    <p>A continuación procesamos en el template la lista recibida desde views 
        en la variable 'contenido_dinamico2'</p>
        <img width="30%" src="{% static 'app1/foto.jpg' %}" alt="">

    {% for elemento in contenido_dinamico2 %}
    <p style="color:red; font-size: 30px;">{{elemento}}</p>
    {% endfor %}

    {% for nombre in nombres %}
        {% if nombre == "Francisca" %}
        <p>Por favor!!! Jonathan!!! Quién es {{nombre}}??</p>
        {% else %}
        <p>Hola {{nombre}}</p>
        {% endif %}
    {% endfor %}

    {% for nombre in nombres %}
        <h3>Por favor ingrese su apellido</h3>
        <label class="texto_azul">Nombre:</label>
        <input type="text" value="{{nombre}}" disabled> 
        <label class="texto_verde">Apellido:</label>
        <input type="text"> 
    {% endfor %}

{% endblock %}